.label, .select, .button{
	display: flex;
}

.label{
	margin-top: 3em;
}

.button{
	padding: 0.3em 0.6em 0.3em 0.6em;
	text-transform: uppercase;
	color: white;
	background: rgba(90, 120, 255);
	border: none;
}